.order_head{
    width:100%;
    height: 100px;
    background: #fff;
    border-bottom: 2px solid #dc89b8;
}
.head_background{
    width: 1226px;
    height: 48px;
    margin: 0 auto;
    background: #fff;
    /*background: paleturquoise;*/
    padding: 26px 0;
}

.head_left_a img{
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 50px;
}
.head_h1{
    font-family: 黑体;
    display: block;
    float: left;
    line-height: 48px;
}
.head_right{
    color: #757575;
    font-size: 12px;
    float: right;
    line-height: 48px;
    margin-right: 20px;
}
.head_right a{
    color: #757575;
}

.order_body{
    width: 100%;
    height: 1000px;
    background: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 60px;
}
.order_body_background{
    width: 1146px;
    height: 880px;
    background: #fff;
    margin: 0 auto;
    padding: 40px;
}
.order_line{
    width: 1148px;
    height: 40px;
    padding: 1px 0;
    /*background: cornflowerblue;*/
}
.order_lien_in{
    float: left;
}
.order_title{
    color: #333;
    font-size: 18px;
    line-height: 20px;
    margin-right: 20px;
}
.order_span{
    font-size: 14px;
    color: #757575;
}
.order_lien_in a{
    color:#dc89b8 ;
}

.order_box{
    width: 1148px;
    height: 204px;
}
.order_box_in{
    width: 268px;
    height: 178px;
    border: 1px solid #e0e0e0;
    /*background: green;*/
    margin-left: 20px;
    text-align: center;
    color: #e0e0e0;
    float: left;
}
.order_box_circle{
    margin: 65px auto 10px;
    width: 30px;
    height: 30px;;
    border-radius: 50%;
    background: #e0e0e0;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    color: #fff;

}

.order_in{
    margin-right: 40px;
}

.order_line_bordtr{
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0 5px;
}

.order_lien_in .order_span_rigth{
    float: right;
    font-size: 14px;
    color: #757575;
    display: block;
    margin: 20px 0 0 900px;

}
.order_line_bordtr_1{
    padding: 20px 0 5px;

}
.order_PStime{
    width: 230px;
    height: 25px;
    border: 1px solid #e0e0e0;
    margin-left: 40px;
    color: #e0e0e0;
    float: left;
    font-size: 12px;
    text-align: center;
    line-height: 25px;

    display: block;
}
.order_PStime:hover{
    border: 1px solid #dc89b8;
    color: #dc89b8;
}

.order_line_bordtr_2{
    margin-left: 75px;
}
.order_price{
    font-size: 14px;
    float: left;
}
.order_price_tv{
    float: left;
}
.order_price_1{
    font-size: 14px;
    float: left;
    margin-left: 520px;
}
.order_price_2{
    font-size: 14px;
    float: right;
    margin-right: 30px;
    color: #dc89b8
}
.order_price_11{
    width: 950px;
    text-align: right;
    font-size: 14px;
}
.pay{
    width: 1148px;
    padding: 20px 0;
    /*float: right;*/

}
.pay_a{
    display: block;
    width: 158px;
    height: 38px;
    /*background: #f25807;*/
    background: #dc89b8;
    color: #fff;
    text-align: center;
    line-height: 38px;
    transition: all .4s;
    float: right;
    margin-right: 20px;
}
.pay_a:hover{
    background: #f25807;
}

.trolley_background{
    width: 100%;
    /*height:800px;*/
    background: #f5f5f5;
    padding: 38px 0;
}
.trolley_background_in{
    width: 1226px;
    /*height: 500px;*/
    padding: 15px 0px;
    background: #fff;
    margin: 0 auto;

}
.tro_tab_h{
    width: 1226px;
    height: 70px;
}
.col{
    float: left;
}
.tro_tab_check{
    width: 110px;
    height: 70px;
}
.tro_tab_check_p{
    width:20px;
    height: 20px;
    background: #dc89b8;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-top: 25px;
    margin-left:25px;
    float: left;
}
.tro_tab_check_sp{
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}
.tro_tab_img{
    width: 120px;
    height: 70px;
}
.tro_tab_img img{
    width: 80px;
    height: 80px;
}
.tro_tab_name{
    width: 380px;
    height: 70px;
    text-align: left;
    line-height: 70px;
}
.tro_tab_price{
    width: 159px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.tro_tab_num{
    width: 150px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.tro_tab_total{
    width: 201px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.tro_tab_action{
    width: 80px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.tro_tab_h1{
    width: 1226px;
    height: 86px;
    padding: 16px 0;
}
.tro_tab_h1 .tro_tab_check{
    width: 110px;
    height: 86px;
}
.tro_tab_h1 .tro_tab_check_p{
    width:20px;
    height: 20px;
    background: #dc89b8;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-top: 25px;
    margin-left:25px;
    float: left;
}
.tro_tab_h1 .tro_tab_check_sp{
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}
.tro_tab_h1 .tro_tab_img{
    width: 120px;
    height: 86px;
}
.tro_tab_h1 .tro_tab_img img{
    width: 86px;
    height: 86px;
}
.tro_tab_h1 .tro_tab_name{
    width: 380px;
    height: 86px;
    text-align: left;
    line-height: 86px;
}
.tro_tab_name_li1{
    line-height: 70px;
    font-size: 20px;
    color: #333;
}
.tro_tab_name_li2{
    line-height: 0px;
    font-size: 12px;
    color: #cdcac2;
}
.tro_tab_h1 .tro_tab_price{
    width: 159px;
    height: 86px;
    text-align: center;
    line-height: 86px;
}
.tro_tab_h1 .tro_tab_num{
    width: 150px;
    height: 86px;
    text-align: center;
    line-height: 86px;
    font-size: 0;
}
.tro_tab_num input{
    width: 72px;
    height: 36px;
    float: left;
    text-align: center;
    margin-top: 24px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}
.tro_tab_num a{
    display: block;
    float: left;
    width: 37px;
    height: 36px;
    background: #fff;
    font-size: 12px;
    margin-top: 24px;
    line-height: 38px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;

}
.tro_tab_num a:hover{
    background:#e0e0e0;
}
.tro_tab_num_p1{

    border-left: 1px solid #e0e0e0;
}
.tro_tab_num_p2{
    display: block;
    border-right: 1px solid #e0e0e0;
}
.tro_tab_num_bac{
    width:146px ;
    height: 36px;
    border: 1px solid #cdcac2;
    position: relative;
}
.tro_tab_h1 .tro_tab_total{
    width: 201px;
    height: 86px;
    text-align: center;
    line-height: 86px;
    color: #dc89b8;
}
.tro_tab_h1 .tro_tab_action{
    width: 80px;
    height: 86px;
    text-align: center;
    line-height: 86px;
}
.tro_tab_h1 .tro_tab_total_value {
   color: #dc89b8;
    text-align: center;
}
.tro_item{
    width: 1100px;
    height: 50px;
    margin: 15px 0;
    padding-left: 20px;
    margin-left: 106px;
    border: 1px solid #e0e0e0;
}
.tro_item_box{
    width: 22px;
    height: 22px;
    background: #dc89b8;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    float: left;
    text-align: center;
    line-height: 19px;
    margin: 14px 14px 0 0px;

    /*margin-left: 120px;*/
}
.tro_item_p{
    line-height: 48px;
}
.tro_item_bot{
    width: 1198px;
    /*height: 500px;*/
    padding: 5px 14px;
    background: #fff;
    margin: 20px auto;

}
.tro_bot_ppp{
    display: block;
    width: 22px;
    height: 22px;
    background: #dc89b8;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    float: left;
    text-align: center;
    line-height: 19px;
    margin: 14px 14px 0 0px;
}

.cart-bar{
    width: 1266px;
    height:50px;
}
.cart-bar_left{
    width: 312px;
    height: 50px;
}
.tro_close_bot{
    width: 1212px;
    height: 50px;
    padding: 5px 0px 5px 14px;
    background: #fff;
    margin: 20px auto;
}
.tro_close_p{
    display: block;
    float: left;
    font-size: 18px;
    color: #dc89b8;
    line-height: 50px;
}
.tro_close_p_c{
    display: block;
    float: left;
    color: #dc89b8;
    line-height: 50px;
    margin-left: 500px;
}
.tro_close_p_c span{
    font-size: 35px;
}
.tro_close_p_r{
    display: block;

    float: right;
    width: 180px;
    height: 50px;
    color: #ffffff;
    background: #dc89b8;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    /*margin-right: 10px;*/
}